@import '/src/index.scss';

.box {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.title {
  margin: 0px;
  font-size: 14px;
  line-height: 16px;
  color: $dark-200;
}

.participants {
  font-size: 14px;
  line-height: 16px;
  color: $dark-100;
}
